 * PHP version {{ PHP_CONSTRAINT }}
 *
 * @category Phpbb
 * @package  PhpBB_{{ VENDOR | to_pascal_case }}_{{ NAME | to_pascal_case }}_Tests
 * @author   {{ AUTHOR }}
 * @license  http://opensource.org/licenses/gpl-2.0.php GNU General Public License v2
